.logout{
	cursor: pointer;
}

.ann_panel{
	position: relative;
	max-height: 1000px;
	min-height: 200px;
	overflow: auto;
}

.ann_box{
	min-height: 100px;
	max-height: 150px;
}

.card-body{
	min-height: 400px !important;
	max-height: 400px;
	overflow: auto;
}

.direct-chat-messages{
	min-height:auto;
	max-height:150px;
}

.adstu{
	position:relative;
	height:200px !important;
	font-size:50px;
}

#secrow{
	position:relative;
	display:none;
}

.immg{
	position: relative;
	width: 100%;
}

.immg>.ppic{
	position: relative;
	height:10em;
	width:10em;
	border-radius:100%;
}

.porm{
	position: relative;
	margin:0 auto;
}

#ewor,#cpass{
	display:none;
}

.res{
	position: relative;
	overflow: auto;
}

.login-page{
	position: relative;
	background-image: url('../images/bg.png') !important;
	background-size: cover;
}

.login-logo{
    position: relative;
    z-index:2;
}

.trans{
	position: absolute;
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.3);
    z-index:1;
}

.liz{
	position: relative;
	height: 80%;
	background: rgba(255,255,255,0.99);
	padding: 20px;
	padding-bottom: 0px;
	box-shadow: 0px 0px 10px 0px rgb(10,10,10);
    z-index:9999;
}
